.button{
  position: relative;
  border-radius: 100px;
  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: grid;
  place-content: center;
}
.button > svg {
  transform: scale(0.45);
  margin: 0%;
  padding: 0%;
}