.user {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.user > video {
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
  width: -webkit-fill-available;
}
.user > p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  padding: 0;
  color: #fff;
}